    body {
            font-family: Arial, sans-serif;
            margin: 10px;
            padding: 10px;
            background:"";
            background-image: url('./images/MyLogin.jpg'); 
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
 /*           background-color: #6769f8;*/
        }

        p {
            font-size: 10px;
            color: #666;
        }


    img {            max-width: 100%;
            height: auto;
            border: 2px solid #ccc;
            border-radius: 10px;
        }   

   
    #user{
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
            display: block;
            width: 120px;
        }

    button {
            background-color: #52e05e; /* Green */
            border: none;
            color: rgb(41, 34, 34);
            padding: 10px 25px 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;

        } 
